/** @format */

.square {
  width: 95px;
  height: 95px;
  font-weight: 900;
  font-size: 2.5rem;
  background-color: #fff;
  padding: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.o {
  color: blue;
}

.x {
  color: red;
}

@keyframes poping {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}
