/** @format */

.square {
  width: 95px;
  height: 95px;
  font-weight: 900;
  font-size: 2.5rem;
  background-color: #fff;
  padding: 20px;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.3s;
}

span:active {
  animation: popping;
  animation-duration: 0.2s;
}

.o {
  color: blue;
}

.x {
  color: red;
}

@keyframes popping {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}
