/** @format */

* {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  place-items: center;
}

body {
  transition: 0.2s;
  transition-property: linear-gradient;
}

.colors {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  z-index: -1;
}

.aColor {
  transition: all 0.3s;
}

.blue {
  /* background-color: #6494ed49; */
  height: 100%;
  width: 100%;
  background-color: #aec5f0;
}
/* background: linear-gradient(90deg, white 80%, #cf0d23); */

.red {
  /* background-color: #cf0d242c; */
  height: 100%;
  width: 100%;
  background-color: #ecb1b8;
}

.timerCtn {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

button {
  background-color: #3feb18;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 12px;
}
